name: Size

on:
  pull_request:

jobs:
  update_labels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-ecosystem/action-size@v2
        id: size

      - uses: actions-ecosystem/action-remove-labels@v1
        with:
          labels: ${{ steps.size.outputs.stale_labels }}

      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: ${{ steps.size.outputs.new_label }}
